@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #73d1ba #f0f0f0; /* Thumb and track colors for Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* Set height for horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #73d1ba; /* Thumb color */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Track color */
}

/* Custom small Swal box */
.swal2-popup.small-swal {
  width: 330px; /* Set the desired width */
  height: auto; /* Set the height to auto */
  font-size: 14px; /* Optional: Adjust the font size */
  padding: 10px; /* Adjust padding if needed */
}

.swal2-title {
  font-size: 20px; /* Optional: Customize title size */
}

.swal2-html-container {
  font-size: 20px; /* Optional: Customize the text size */
}

/* Hide the spinner for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
